<table border="0" cellspacing="0" cellpadding="0" width="340">
								<tbody><tr>
									<td align="center" style="font: 13px Arial;">
										<strong>*******   Duplicate Receipt   *******</strong>
										<br>
										<pre style="border:1px solid #000000;">*********** START RECEIPT ***********

         Welcome to Best Buy #1510
            6000 SEPULVEDA BLVD
           CULVER CITY, CA 90230



Val #:<wbr>000109-187896-138828-231039-78<wbr>1651-038

1510 060 8760 08/20/18 16:06


9881868    RF-TVMLPT03            99.99
  LARGE TILT MOUNT FOR TVS 32-7
  Sales Tax             10.00
                              ----------
                      Subtotal    99.99
                     Sales Tax    10.00
                              ==========
                         Total   109.99

**********2253   ChipRead USD$   109.99
AMERICAN EXPRESS - AMEX
WALKER/YANA
Approval 815886

MODE: Issuer
AID: A000000025010801



My Best Buy
Member ID 4537364642





VARAND,
Thanks for shopping at Best Buy today!
Your My Best Buy balance as of 08/16/2018
Posted points: 0
Go to BestBuy.com for more info

     Devices that can be activated and
      cell phones have a 14-day return
         policy for all customers.
          15-day return period on
          almost everything else.

   Restocking fee applies on select items

    A valid receipt is required for all
  returns. Except where prohibited, we may
 request an ID. ID info may be stored in a
    secure, encrypted database used for
      tracking returns and exchanges.

   Returned items missing accessories are
  subject to a missing part fee. Best Buy
   reserves the right to deny any return.

  For return policy details and a complete
    list of exceptions, ask for a policy
 brochure or go to <a href="http://www.BestBuy.com/Returns" target="_blank" rel="noopener">www.BestBuy.com/Returns</a>.

    To learn about our privacy practices
   please visit <a href="http://www.BestBuy.com/privacy" target="_blank" rel="noopener">www.BestBuy.com/privacy</a>.

       Your Customer Service PIN is:
            1510 060 8760 082018



************ END RECEIPT ************
==============================<wbr>=======


</pre>
									</td>
								</tr>
							</tbody></table>
