<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f4f4f6" style="table-layout: fixed;">
	<tbody><tr>
		<td valign="top" style="padding-bottom: 20px;">
			<div align="center">
				<table border="0" class="wrapper" cellpadding="0" cellspacing="0" width="640" bgcolor="#ffffff">

					<tbody><tr>
						<td class="mobile-hidden" bgcolor="#f4f4f6" align="left" valign="top">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr>
									<td class="padding-left" bgcolor="#f4f4f6" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 11px; color: #737474; padding: 5px 10px 0px 0px;">

										Please keep this e-mail for your records.
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>


					<tr>

							<td class="block" align="left" valign="top">









	<table border="0" class="wrapper" cellpadding="0" cellspacing="0" width="640" bgcolor="#f4f4f6">



		<tbody><tr>
			<td align="left" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="bottom" bgcolor="#f4f4f6">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr>
									<td align="left" valign="bottom" style="padding: 5px 5px 7px 15px; font: 10px Arial; color: #1d252c;">
										View:&nbsp;&nbsp;<a href="https://view.emailinfo2.bestbuy.com/?qs=aa40affded81b34f72776cae3a068fbe31b4dccd47a2f31d811dd6e80a8d5a1fa37faf1e9613990deb1a6500404d5e4487c8dd80a79ba60360054c1fe0973ce057c64d8e2d4283ba58e486df9c93cef6" target="_blank" style="text-decoration: none; color: #0046be;" rel="noopener">Web</a>
									</td>
								</tr>

							</tbody></table>
						</td>
						<td width="130" align="right" valign="middle" bgcolor="#f4f4f6">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody><tr>
									<td align="left" valign="top" style="padding: 5px 15px 5px 0px; font: 12px Arial; color: #1d252c;">

											<a href="https://click.emailinfo2.bestbuy.com/?qs=93019bb5d6dd39fd4e0414bf75c302ad9bbe9638e3a62de10c2186e24a8a2342d1b72f5e937377759afa58681150464d5450f3fb2c611f7c281f77954018de24" target="_blank" style="color: #1d252c; text-decoration: none;" rel="noopener">
												<span style="font-weight: bold;">Free Shipping*</span><br> on orders $35 and up
											</a>

									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>


		<tr>
			<td bgcolor="#0046be">
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tbody><tr>
						<td align="left" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;" width="84">
							<a href="https://click.emailinfo2.bestbuy.com/?qs=c4f2facd2ef3b89df266178fc8d10cee118d5cf44e549961b77eba5353ed2d6c85205428f0e272eff5bfcc571f25fcc98895ccdda926e74988c8e36b7cd5e9cf" target="_blank" style="color: #ffffff; text-decoration: none;" rel="noopener"><img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/69/bby_logo.gif" width="84" alt="BEST BUY" style="border-width:0;width:100%;max-width:84px;min-width:84px;height:auto;display:block;"></a>
						</td>
						<td align="right" valign="middle" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
							<table width="236" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
								<tbody><tr>
									<td class="two-column" dir="ltr" style="padding-top:14px;padding-bottom:14px;padding-right:0px;padding-left:0px;text-align:right;font-size:0;">

										<div class="column-header" dir="ltr" style="text-align:center;display:inline-block;width:125px;vertical-align:middle;">
											<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
												<tbody><tr>
													<td align="right" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #ffffff;line-height:20px;text-align:center;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=068bb7d7fd11627ce0421255c855bcf1c9703abfbc72db6958820691e671052fd6d006b4fd17c98a142f70dfd0d7aa43aa25f24503419b905577644efb457084" target="_blank" style="color: #ffffff; text-decoration: none;" rel="noopener">Weekly Deals&nbsp;&gt;</a>
													</td>
												</tr>
											</tbody></table>
										</div>

										<div class="column-header" dir="ltr" style="text-align:center;display:inline-block;width:100px;vertical-align:middle;">
											<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
												<tbody><tr>
													<td align="right" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #f4f4f6;line-height:20px;text-align:center;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=7740ab835b3a83f1a2342c68aa37fc8c43645cf58f1da8780c593c337da1aed51d36e1a866c6b4827fdb335f5c2337c771672ad946ec9b8989c9e16e6dbd5359" target="_blank" style="color: #f4f4f6; text-decoration: none;" rel="noopener">Clearance&nbsp;&gt;</a>
													</td>
												</tr>
											</tbody></table>
										</div>

									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>


		<tr>
			<td bgcolor="#e7e7e9" class="" style="padding-top:5px;padding-bottom:5px;padding-right:0px;padding-left:0px;text-align:left;font-size:0;">
				<table border="0" cellpadding="0" cellspacing="0" width="96%" class="headernav">
					<tbody><tr>
						<td width="24%" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 13px; padding: 5px; font-weight: bold; color: #0046be; white-space: nowrap;">
							<a href="https://click.emailinfo2.bestbuy.com/?qs=8db5c3d103f592ba6484e9096ecc925336f359361c7e057e6cf731b0822f2c1b7d70d0b27a085dc0c165044f2f2eae208c76ead10003087f39998be8d705795c" target="_blank" style="color: #0046be; text-decoration: none;" rel="noopener">&nbsp; TVs &nbsp;</a>
						</td>
						<td width="24%" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 13px; padding: 5px; font-weight: bold; color: #0046be; white-space: nowrap;">
							<a href="https://click.emailinfo2.bestbuy.com/?qs=815dc37691eb4e1c403e3efe77ab892ff64057f191c2b7abcefbfcf5a03723c3e928ce05eca9000da96527275a2432e861cb59ebde46e898f02efe1732c4389c" target="_blank" style="color: #0046be; text-decoration: none;" rel="noopener">Computers</a>
						</td>
						<td width="24%" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 13px; padding: 5px; font-weight: bold; color: #0046be; white-space: nowrap;">
							<a href="https://click.emailinfo2.bestbuy.com/?qs=249a5e7f2064588bfd2134d4adebf96a89f3d29fc38fcf135f265160fba098351acafb920373654b33827f9eac804007e40c6b5301427a382bb7f383c742dd37" target="_blank" style="color: #0046be; text-decoration: none;" rel="noopener">Cell Phones</a>
						</td>
						<td width="24%" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 13px; padding: 5px; font-weight: bold; color: #0046be; white-space: nowrap;">
							<a href="https://click.emailinfo2.bestbuy.com/?qs=c8cf5fddb742c3912c917d9a24426059ae3f4754b171c9ae4776cbcdca06764cb6d8115953c2d4f69d3ec09c6d57c82737bf2c119cf1063b1129b73a58292337" target="_blank" style="color: #0046be; text-decoration: none;" rel="noopener">Appliances</a>
						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">
				<div style="font-size: 6px; line-height: 6px; mso-line-height-rule: exactly;">&nbsp;</div>
			</td>
		</tr>



	</tbody></table>


						</td>
					</tr>

					<tr>
						<td>
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tbody><tr>
									<td valign="top">

										<div class="arrange-top">
										<table class="tableBlock" align="left" width="320" cellpadding="0" cellspacing="0" border="0">
											<tbody><tr>
												<td width="320" align="left" valign="top">


					</td></tr><tr>
						<td class="text-scale" align="left" valign="top" bgcolor="#ffffff" style="font: bolder 25px/25px Arial; color: #000000; padding: 10px 20px 10px 20px;">
							<table>
								<tbody><tr>

									<td class="text-scale" align="left" valign="top" bgcolor="#ffffff" style="font: bolder 25px/25px Arial; color: #003b64;">

											Varand, thank you for shopping at Best Buy<sup style="font-size:0.83em; vertical-align: text-top; _vertical-align: top ; line-height: 1; height: 0;">®</sup>.


									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>


					<tr>

							<td class="text-scale" align="left" valign="top" bgcolor="#ffffff" style="font: 14px Arial; color: #49494a; padding: 10px 20px 20px 20px;">
								Thank you for requesting an e-mail copy of your receipt. The details of your purchase are below.
								<br><br>

								All your purchases are also available to view online - just click on the “View My Purchases” button.
								<br><br>
								If you need to make a return or exchange, please review our <a target="_blank" href="https://click.emailinfo2.bestbuy.com/?qs=cbcd5857ebcb79415b458ca4eed73a693c4b10cc0771cb9f26eb2a2e35fec83cb443e65675b87b823a2c4505f69404b6262502239b19be4e" style="text-decoration:underline; color: #1E4BAA;" rel="noopener">Return and Exchange Policy</a>.

								<br><br>
								We appreciate your business and look forward to seeing you again soon.
								<br><br>
								Sincerely, <br><br>
Your Customer Care Team <br>

						</td>
					</tr>




										</tbody></table>
										</div>


										<div class="arrange-bottom">
										<table class="tableBlock" align="left" width="320" cellpadding="0" cellspacing="0" border="0">
											<tbody><tr>
												<td width="320" align="center" valign="top" style="font: 16px/16px Arial; color: #49494a; padding: 20px 20px 20px 20px;">
													<strong>Member ID:</strong> 4537364642
													<br><br>






                                                        <table border="0" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                            	<td class="button" align="center" bgcolor="#fff200"><a href="https://click.emailinfo2.bestbuy.com/u/?qs=cd129ea5be1475a21c644286b3b6a0351f59b4eaa47caf263eb59e38489bf15561b2a4b06b111e51daa3b82fa0a8e0ed2ee40fccc91b60552253c9c4981323ec" target="_blank" style="font-size: 14px; font-family: Arial, sans-serif; font-weight: bold; color: #003b64; text-decoration: none; padding: 10px 15px 10px 15px; border: 1px solid #fbe27e; display: block;" rel="noopener">View My Purchases</a></td>
                                                            </tr>
                                                        </tbody></table>


												</td>
											</tr>
										</tbody></table>
										</div>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>







						<tr>
							<td bgcolor="#e1e1e1">
								<table align="left" cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#003b64">
									<tbody><tr>
										<td width="20">&nbsp;</td>
										<td width="30"><img src="http://image.emailinfo2.bestbuy.com/lib/fef31d77766c05/m/5/BBOMS_WhatYouNeedToKnow.jpg" width="30" style="display: block;" border="0"></td>
										<td width="15"></td>
										<td width="255" style="font: bold 18px Arial; color: #fff;" valign="middle" align="left" height="50">YOUR BEST BUY RECEIPT</td>
										<td width="320" class="mobile-hidden"><img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" width="320" height="1" border="0" style="display: block;"></td>
									</tr>
								</tbody></table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#e1e1e1">
								<table align="left" cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#e1e1e1">
									<tbody><tr>
										<td width="20" class="responsive-half-w"></td>
										<td width="300" style="font: bold 14px Arial; color: #003b64;" valign="middle" align="left" height="30">KEEP FOR YOUR RECORDS</td>
										<td width="320" class="mobile-hidden"><img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" width="320" height="1" border="0" style="display: block;"></td>
									</tr>
								</tbody></table>
							</td>
						</tr>



					<tr>
						<td style="padding: 15px 0px 0px 0px;" align="center">
							<img src="http://click.emailinfo2.bestbuy.com/LiveContent.aspx?qs=1ff5b6275b824c33295b25ac842d8ba98411bec3f9ca3cb88f86bf96beac8540fde586b4e767d993f5a03f549625dbac3ea98c2bd1bc17e808ddc323d24d192d687451fa0b512a7fdf210eba14f0c26e68e621621088aea0ebc355b7f65a3da20eb24068cbbb0bca2ace5d20295cb76d93ece1a921bb4e9c" width="330" height="60" alt="barcode" border="0" style="margin: 0px 0px 0px 0px;" align="center">
						</td>
					</tr>



					<tr>
						<td style="padding: 15px 0px 20px 0px;" align="center">
							<table border="0" cellspacing="0" cellpadding="0" width="340">
								<tbody><tr>
									<td align="center" style="font: 13px Arial;">
										<strong>*******   Duplicate Receipt   *******</strong>
										<br>
										<pre style="border:1px solid #000000;">*********** START RECEIPT ***********

         Welcome to Best Buy #1510
            6000 SEPULVEDA BLVD
           CULVER CITY, CA 90230



Val #:<wbr>000109-187896-138828-231039-78<wbr>1651-038

1510 060 8760 08/20/18 16:06


9881868    RF-TVMLPT03            99.99
  LARGE TILT MOUNT FOR TVS 32-7
  Sales Tax             10.00
                              ----------
                      Subtotal    99.99
                     Sales Tax    10.00
                              ==========
                         Total   109.99

**********2253   ChipRead USD$   109.99
AMERICAN EXPRESS - AMEX
WALKER/YANA
Approval 815886

MODE: Issuer
AID: A000000025010801



My Best Buy
Member ID 4537364642





VARAND,
Thanks for shopping at Best Buy today!
Your My Best Buy balance as of 08/16/2018
Posted points: 0
Go to BestBuy.com for more info

     Devices that can be activated and
      cell phones have a 14-day return
         policy for all customers.
          15-day return period on
          almost everything else.

   Restocking fee applies on select items

    A valid receipt is required for all
  returns. Except where prohibited, we may
 request an ID. ID info may be stored in a
    secure, encrypted database used for
      tracking returns and exchanges.

   Returned items missing accessories are
  subject to a missing part fee. Best Buy
   reserves the right to deny any return.

  For return policy details and a complete
    list of exceptions, ask for a policy
 brochure or go to <a href="http://www.BestBuy.com/Returns" target="_blank" rel="noopener">www.BestBuy.com/Returns</a>.

    To learn about our privacy practices
   please visit <a href="http://www.BestBuy.com/privacy" target="_blank" rel="noopener">www.BestBuy.com/privacy</a>.

       Your Customer Service PIN is:
            1510 060 8760 082018



************ END RECEIPT ************
==============================<wbr>=======


</pre>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>


					<tr>
						<td>
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tbody><tr>
									<td valign="top">

										<div class="arrange-top">
										<table class="tableBlock" align="left" width="320" cellpadding="0" cellspacing="0" border="0">
											<tbody><tr>
												<td width="320" align="left" valign="top">
													<span style="display:none;">
</span><table cellpadding="0" cellspacing="0" border="0" width="320">
	<tbody><tr>
		<td colspan="3">
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="10" width="1" style="display: block; border: 0;">
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="1" width="20" style="display: block; border: 0;">
		</td>
		<td style="font-family: Arial, verdana, sans-serif; color: #000000; font-weight: normal;">
			<a href="https://click.emailinfo2.bestbuy.com/?qs=54755ebbabdfd906af5100e48cd2aba99dab00a9011bfdba91bacfaea3cd8227ab9211a3e137df94868cb79dd6adcf0d35f2d75d9dbbae7ce85d013a3b4af995" style="display:block; text-decoration: none; color: #000000;" target="_blank" rel="noopener">
				<img src="http://image.emailinfo2.bestbuy.com/lib/fef11d7776670c/m/38/lbYkF3x1529700143973.jpg" width="280" height="200" style="padding:0; margin:0; height:200px; width:280px; border: 0; display: block;" border="0" alt="Manage your Best Buy e-mail subscriptions"><img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="3" width="1" style="display: block; border: 0; padding:0px; margin:0px;"><span style="font-size: 10px; line-height: 19px; mso-line-height-rule: exactly; color: #000000;">SIGN UP AND STAY CONNECTED</span><br>
				<span style="font-size: 16px; line-height: 15px; mso-line-height-rule: exactly; color: #000000;"><strong>GET THE LATEST DEALS &amp; MORE</strong></span>
			</a>
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr>
					<td>
						<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="22" width="1" style="display: block; border: 0;">
					</td>
				</tr>
				<tr>
					<td class="button" style="font-family: Arial, verdana, sans-serif; color: #003b64; background: #fff200; font-size: 14px; border: 1px solid #fbe27e; text-align: center; padding: 10px 15px 10px 15px;">
						<strong><a href="https://click.emailinfo2.bestbuy.com/?qs=54755ebbabdfd906af5100e48cd2aba99dab00a9011bfdba91bacfaea3cd8227ab9211a3e137df94868cb79dd6adcf0d35f2d75d9dbbae7ce85d013a3b4af995" style="display:block; text-decoration: none; color: #000000;" target="_blank" rel="noopener"><span style="text-decoration: none; font-weight: bold; color: #003b64;">Sign Up</span></a></strong>
					</td>
				</tr>
			</tbody></table>
		</td>
		<td>
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="1" width="20" style="display: block; border: 0;">
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="20" width="1" style="display: block; border: 0;">
		</td>
	</tr>
</tbody></table>
												</td>
											</tr>
										</tbody></table>
										</div>


										<div class="arrange-bottom">
										<table class="tableBlock" align="left" width="320" cellpadding="0" cellspacing="0" border="0">
											<tbody><tr>
												<td width="320" align="left" valign="top">
													<span style="display:none;">
</span><table cellpadding="0" cellspacing="0" border="0" width="320">
	<tbody><tr>
		<td colspan="3">
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="10" width="1" style="display: block; border: 0;">
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="1" width="20" style="display: block; border: 0;">
		</td>
		<td style="font-family: Arial, verdana, sans-serif; color: #000000; font-weight: normal;">
			<a href="https://click.emailinfo2.bestbuy.com/?qs=10a69a70fefb5fc16a908421db827a8d0e770e77fe2ae9cf4847a6a3a5a996aed034b1f1add3fe77aaf5556489053d1b9826947d8f45fcc22cbb4a6829fbd1fc" style="display:block; text-decoration: none; color: #000000;" target="_blank" rel="noopener">
				<img src="http://image.emailinfo2.bestbuy.com/lib/fef11d7776670c/m/11/Qo7EU061459370908031.jpg" width="280" height="200" style="padding:0; margin:0; height:200px; width:280px; border: 0; display: block;" border="0" alt="GET POINTS WITH EVERY PURCHASE | LEARN MORE"><img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="3" width="1" style="display: block; border: 0; padding:0px; margin:0px;"><span style="font-size: 10px; line-height: 19px; mso-line-height-rule: exactly; color: #000000;">YOU BUY, YOU GET</span><br>
				<span style="font-size: 16px; line-height: 15px; mso-line-height-rule: exactly; color: #000000;"><strong>GET POINTS WITH</strong><br><strong>EVERY PURCHASE</strong></span>
			</a>
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr>
					<td>
						<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="6" width="1" style="display: block; border: 0;">
					</td>
				</tr>
				<tr>
					<td class="button" style="font-family: Arial, verdana, sans-serif; color: #003b64; background: #fff200; font-size: 14px; border: 1px solid #fbe27e; text-align: center; padding: 10px 15px 10px 15px;">
						<strong><a href="https://click.emailinfo2.bestbuy.com/?qs=10a69a70fefb5fc16a908421db827a8d0e770e77fe2ae9cf4847a6a3a5a996aed034b1f1add3fe77aaf5556489053d1b9826947d8f45fcc22cbb4a6829fbd1fc" style="display:block; text-decoration: none; color: #000000;" target="_blank" rel="noopener"><span style="text-decoration: none; font-weight: bold; color: #003b64;">Shop Now</span></a></strong>
					</td>
				</tr>
			</tbody></table>
		</td>
		<td>
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="1" width="20" style="display: block; border: 0;">
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://image.emailinfo2.bestbuy.com/lib/fef41d77766c04/m/8/MKT_WB_Spacer.gif" height="20" width="1" style="display: block; border: 0;">
		</td>
	</tr>
</tbody></table>
												</td>
											</tr>
										</tbody></table>
										</div>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>

					<tr>

						<td class="block" align="left" valign="top">









	<table border="0" class="wrapper" cellpadding="0" cellspacing="0" width="640" bgcolor="#f4f4f6">





		<tbody><tr>
			<td bgcolor="#ffffff" class="two-column" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;font-size:0; border-top: 1px solid #E0e6ef;">

				<div class="column" style="text-align:center;display:inline-block;width:100%;max-width:320px;vertical-align:top;">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
						<tbody><tr>
							<td class="inner" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
								<table class="contents" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;width:100%;font-size:14px;text-align:left;" align="center">
									<tbody><tr>
										<td style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody><tr>
													<td align="center" valign="top" style="border-bottom: 1px solid #E0e6ef;padding-top: 12px; padding-bottom: 12px;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=38579594083259ea930658013a8433d9b222a2ea873f400d684657a2cf6ca1d69c6ab57f58379cbacc7e0939778d4533c7186dea8f3fe63ae2c263b07c7a0e02" target="_blank" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #003b64; text-decoration: none; display: block;" rel="noopener">TVs</a>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</div>


				<div class="column" style="text-align:center;display:inline-block;width:100%;max-width:320px;vertical-align:top;">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
						<tbody><tr>
							<td class="inner" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
								<table class="contents" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;width:100%;font-size:14px;text-align:left;" align="center">
									<tbody><tr>
										<td style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody><tr>
													<td align="center" valign="top" style="border-bottom: 1px solid #E0e6ef;padding-top: 12px; padding-bottom: 12px;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=ea296ffce30fe5d3aa7352de326c38482966b0ce1c82882d5946c2c89a34f1bf528dac4f0078b5fdef88ff76b2386a10665978b5cb7117695f055f16b461dd3f" target="_blank" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #003b64; text-decoration: none; display: block;" rel="noopener">Computers</a>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</div>

			</td>
		</tr>



		<tr>
			<td bgcolor="#ffffff" class="two-column" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;font-size:0;">

				<div class="column" style="text-align:center;display:inline-block;width:100%;max-width:320px;vertical-align:top;">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
						<tbody><tr>
							<td class="inner" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
								<table class="contents" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;width:100%;font-size:14px;text-align:left;" align="center">
									<tbody><tr>
										<td style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody><tr>
													<td align="center" valign="top" style="border-bottom: 1px solid #E0e6ef;padding-top: 12px; padding-bottom: 12px;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=48eb172d2a85afd1af386e83daf4d6e49328434e8e91d73b291d07efa47034b955df4922c4fa0160738fbedced5afcf97ca9df599f4c65c53d6845118c06685a" target="_blank" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #003b64; text-decoration: none; display: block;" rel="noopener">Cell Phones</a>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</div>


				<div class="column" style="text-align:center;display:inline-block;width:100%;max-width:320px;vertical-align:top;">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
						<tbody><tr>
							<td class="inner" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
								<table class="contents" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;width:100%;font-size:14px;text-align:left;" align="center">
									<tbody><tr>
										<td style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody><tr>
													<td align="center" valign="top" style="border-bottom: 1px solid #E0e6ef;padding-top: 12px; padding-bottom: 12px;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=7b427850401fba1a2373e46d343f4663ead84549d2c56f0925b619ca59217d63957d68ab78a41280016f2fd4eb174b6931cff0e03f7b81f3ca71e6f8a6a9b24a" target="_blank" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #003b64; text-decoration: none; display: block;" rel="noopener">Appliances</a>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</div>

			</td>
		</tr>


		<tr>
			<td bgcolor="#ffffff" class="two-column" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;text-align:center;font-size:0;">

				<div class="column" style="text-align:center;display:inline-block;width:100%;max-width:320px;vertical-align:top;">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
						<tbody><tr>
							<td class="inner" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
								<table class="contents" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;width:100%;font-size:14px;text-align:left;" align="center">
									<tbody><tr>
										<td style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody><tr>
													<td align="center" valign="top" style="border-bottom: 1px solid #E0e6ef;padding-top: 12px; padding-bottom: 12px;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=6520638dcf414182f589df3fc8c72666abc8ec8f1154c45d5fce946ac2766ee1bd96d4520db6d8c392dfd53c25f081849f2704e1ccc53f146df7664e3b4965fa" target="_blank" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #003b64; text-decoration: none; display: block;" rel="noopener">Small Appliances</a>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</div>


				<div class="column" style="text-align:center;display:inline-block;width:100%;max-width:320px;vertical-align:top;">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;">
						<tbody><tr>
							<td class="inner" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
								<table class="contents" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;width:100%;font-size:14px;text-align:left;" align="center">
									<tbody><tr>
										<td style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tbody><tr>
													<td align="center" valign="top" style="border-bottom: 1px solid #E0e6ef;padding-top: 12px; padding-bottom: 12px;">
														<a href="https://click.emailinfo2.bestbuy.com/?qs=9ffb6fbcaea66eaa7cab0fdb0db93dd7d642d44579b5eb88566d47104e553849408ba7f020d4e4a5dc9181a40627dc555d1f34abb7a959fe034741bed95e8e14" target="_blank" style="font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; color: #003b64; text-decoration: none; display: block;" rel="noopener">Smart Home</a>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</div>

			</td>
		</tr>



		<tr>
			<td bgcolor="#0046be" class="four-column">
				<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;" class="footernav2">
					<tbody><tr>

						<td bgcolor="#0046be" style="text-align:center; font-size:0; mso-hide: all;">

							<div class="column-footer" style="text-align:center;display:inline-block;width:50%;max-width:160px;min-width:160px;vertical-align:top; border-bottom: solid 1px #E0e6ef; mso-hide: all;">
								<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;text-align:left;">
									<tbody><tr>
										<td align="center" style="font-family: Arial, sans-serif;color:#ffffff;width:100%;font-size:13px; padding-top: 12px; padding-bottom: 13px; font-weight:bold;">
											<a href="https://click.emailinfo2.bestbuy.com/?qs=37334273b8af876645aa421972e223c7a7c85be92172f4c2298142ab834fc2145ffd5ab76f8077b44c9c5ca28904b390b8997d69a2d64e6001e09ee7c4bc4101" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener">Deal of the Day</a>
										</td>
									</tr>
								</tbody></table>
							</div>

							<div class="column-footer" style="text-align:center;display:inline-block;width:50%;max-width:160px;min-width:160px;vertical-align:top; border-bottom: solid 1px #E0e6ef; mso-hide: all;">
								<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;text-align:left;">
									<tbody><tr>
										<td align="center" style="font-family: Arial, sans-serif;color:#ffffff;width:100%;font-size:13px; padding-top: 12px; padding-bottom: 13px; font-weight:bold;">
											<a href="https://click.emailinfo2.bestbuy.com/?qs=00ac0793da7cdbf49fd7b0bd0f8fada765ec21349ac6de001cd94c5a4dce99d2fbcdb24fc268f30c378ccc9b3a4f70c29ec2d5fdc723c2e54fbc51cd650d1edb" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener">Geek Squad</a>
										</td>
									</tr>
								</tbody></table>
							</div>

							<div class="column-footer" style="text-align:center;display:inline-block;width:50%;max-width:160px;min-width:160px;vertical-align:top; border-bottom: solid 1px #E0e6ef; mso-hide: all;">
								<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;text-align:left;">
									<tbody><tr>
										<td align="center" style="font-family: Arial, sans-serif;color:#ffffff;width:100%;font-size:13px; padding-top: 12px; padding-bottom: 13px; font-weight:bold;">
											<a href="https://click.emailinfo2.bestbuy.com/?qs=b4fa7ed8eeda5e51cc9da594b6842b62a19d64c59ae6e5ff18ab749cd1a2c7e84c8123129cd18f6603d592740157ac9c142a5cbabd17cf3a19228f31420b657e" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener">Credit Cards</a>
										</td>
									</tr>
								</tbody></table>
							</div>

							<div class="column-footer" style="text-align:center;display:inline-block;width:50%;max-width:160px;min-width:160px;vertical-align:top; border-bottom: solid 1px #E0e6ef; mso-hide: all;">
								<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;text-align:left;">
									<tbody><tr>
										<td align="center" style="font-family: Arial, sans-serif;color:#ffffff;width:100%;font-size:13px; padding-top: 12px; padding-bottom: 13px; font-weight:bold;">
											<a href="https://click.emailinfo2.bestbuy.com/?qs=b55e424875d8039666fe74bd1eef5e57004245abab46913d2784289958014c711d91e3e0a7874116690e17e5030145704165f59db8ffec57dbda3448251ba60b" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener">Customer Service</a>
										</td>
									</tr>
								</tbody></table>
							</div>

						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>



		<tr>
			<td bgcolor="#0046be">
				<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0; mso-hide: all;" class="footersocial">

					<tbody><tr>
						<td bgcolor="#0046be" style="text-align:center;font-size:0;">
							<div class="column-footer" style="text-align:center;display:inline-block;width:100%;max-width:235px;min-width:235px;vertical-align:top; overflow:hidden;">
								<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;text-align:left;">
									<tbody><tr>
										<td class="" align="center" style="font-family: Arial, sans-serif;color:#ffffff;width:100%;font-size:13px;font-weight:bold;">
											<div style="font-size: 12px; line-height: 12px; mso-line-height-rule: exactly;">&nbsp;</div>
											Follow us and share your story
											<div style="font-size: 12px; line-height: 12px;" class="m-hide">&nbsp;</div>
										</td>
									</tr>
								</tbody></table>
							</div>

							<div class="column-footer" style="text-align:center;display:inline-block;width:50%;max-width:180px;min-width:180px;vertical-align:top; overflow:hidden;">
								<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;text-align:left;">
									<tbody><tr>
										<td align="center" style="font-family: Arial, sans-serif;color:#ffffff;width:100%; font-size: 14px;">
											<div style="font-size: 8px; line-height: 8px;">&nbsp;</div>
											<a href="https://click.emailinfo2.bestbuy.com/?qs=8700701b6454a9292b929abb88fcaf662152068bc3c900972d98af4a5ac19fad30e2a80deca8cdd9fe8050164ea381015b3189b3a60aaa8a2fe169e371f2409d" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener"><img src="http://image.emailinfo2.bestbuy.com/lib/fef31d77766c05/m/6/icon-social-fb.gif" width="24" height="24" align="absmiddle" alt="Facebook" style="width: 24px; height: 24px;"></a>&nbsp;
											<a href="https://click.emailinfo2.bestbuy.com/?qs=2212312c5fa7b13406e29b7086a655aab4a4609846c62ff40b1e0a0d57a67629b1d24ceb207041b7d7eb5e729f5a2227e306014b6a44beefc81ddf02e15d5446" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener"><img src="http://image.emailinfo2.bestbuy.com/lib/fef31d77766c05/m/6/icon-social-tw.gif" width="24" height="24" align="absmiddle" alt="Twitter" style="width: 24px; height: 24px;"></a>&nbsp;
											<a href="https://click.emailinfo2.bestbuy.com/?qs=e2d510a8d56c573a2645bfc588fbc73857cbda8c5e980fd665a1e75bbdbb53b1c12e610e3749f59b4d4aafa7a7f6165d16cd70452ca8c7bc241266247b6c74aa" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener"><img src="http://image.emailinfo2.bestbuy.com/lib/fef31d77766c05/m/6/icon-social-ig.gif" width="24" height="24" align="absmiddle" alt="Instagram" style="width: 24px; height: 24px;"></a>&nbsp;
											<a href="https://click.emailinfo2.bestbuy.com/?qs=4415871af86230066b43acbe676a71fda363cd6157598d99e1f5d60c05a414b553b79ec0e65a8eedc7947f5896bb9ee9b6c7fa3f3f278757d08036a9aba2db2a" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener"><img src="http://image.emailinfo2.bestbuy.com/lib/fef31d77766c05/m/6/icon-social-pi.gif" width="24" height="24" align="absmiddle" alt="Pinterest" style="width: 24px; height: 24px;"></a>&nbsp;
											<a href="https://click.emailinfo2.bestbuy.com/?qs=9d4710e6756f8acf6069170c896d31d97b52bde3fd64b39402ecebb87c41f78d35afa1abe23af275fd66930a188692f07175fcd470521c348be02fd01ac5346a" target="_blank" style="text-decoration: none; color: #ffffff;" rel="noopener"><img src="http://image.emailinfo2.bestbuy.com/lib/fef31d77766c05/m/6/icon-social-in.gif" width="24" height="24" align="absmiddle" alt="LinkedIn" style="width: 24px; height: 24px;"></a>
											<div style="font-size: 8px; line-height: 8px;" class="m-12h">&nbsp;</div>
										</td>
									</tr>
								</tbody></table>
							</div>
						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>






	</tbody></table>


						</td>
					</tr>
					<tr>
						<td class="block" align="left" valign="top" bgcolor="#f4f4f6">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">

								<tbody><tr>
									<td class="disclaimer-text" align="left" valign="top" bgcolor="#f4f4f6" style="font: 10px Arial; color: #737474; padding: 10px 10px 0 10px;">

											Your privacy is important to Best Buy. For more information on how Best Buy protects your privacy, steps you can take to protect your personal information and alerts on privacy risks facing consumers, please visit the <a href="https://click.emailinfo2.bestbuy.com/?qs=039e2a367b59d1287c62e66125cccf388aa61690de03afdd3a474b6c810ed8efc863031888d65af1c653f06ef0498c532c485135fc2cfd9fd974c0a059e396a4" target="_blank" style="text-decoration: underline; color: #737474" rel="noopener">Best Buy Privacy Hub</a>.
											<br><br>

												<strong>EXPERT SERVICE. UNBEATABLE PRICE:</strong><br>
												*See Price Match Details in store or online at <a href="https://click.emailinfo2.bestbuy.com/?qs=c7d82cda7538ad31528d466bb8abac2f8e370293d2c81e2542b818c6bd07d71db294cdbf6874f7ed78edc57282be9bc0075f2727413668f78175ce4e95074fab" target="_blank" style="text-decoration: underline; color: #737474" rel="noopener">BestBuy.com/PMG</a>.
												<br><br>




											<br><br>
											Best Buy 7601 Penn Avenue South, Richfield, MN 55423-3645
											<br><br>
											© 2018 Best Buy. All rights reserved.

									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
			</div>
		</td>
	</tr>
</tbody></table>
