  <div class="mb-3">
    <label class="form-label">Name:</label>
    <input type="text" (input)="changeName($event)"/>
  </div>
  <div class="mb-3">
    <label class="form-label">Email:</label>
    <input type="text" (input)="changeEmail($event)"/>
  </div>
  <div class="mb-3">
    <label class="form-label">Phone:</label>
    <input type="text" (input)="changePhone($event)"/>
  </div>
  <div class="mb-3">
    <label class="form-label">Address 1:</label>
    <input type="text" (input)="changeAd($event)"/>
  </div>
  <div class="mb-3">
    <label class="form-label">Address 2:</label>
    <input type="text" (input)="changeAdt($event)"/>
  </div>
  <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Preview</button>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contract Preview</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div id="contract" class="modal-body" [innerHTML]="contract">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="convetToPDF()">Download PDF</button>
  </div>
</ng-template>