body {
    padding-left: 10px;
    padding-top: 10px;
}
@media (min-width: 576px) {
    .modal .modal-dialog {
        max-width: 80% !important;
    }
}

.modal-dialog{overflow:visible; min-width: 100%; min-height:100%!important;}

