/* You can add global styles to this file, and also import other style files */

@media (min-width: 576px) {
    .modal .modal-dialog {
        max-width: 895px !important;
    }
}

.displayAddressDiv .displayAddressUL {
    list-style-type: none;
    padding: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    vertical-align: top;
  }

  .displayAddressDiv .displayAddressLI {
    width: 100%;
  }

  .displayAddressDiv {
    vertical-align: top;
    padding-bottom: 0.5em;
  }

  .displayAddressDiv h2 {
    font-size: 1em;
    display: inline;
  }

  #chooseAddressDiv table {
    width: 100%;
  }

  #chooseAddressDiv td {
    vertical-align: top;
  }

  .enterAddressFieldLabel {
    text-align: right;
  }

  .enterAddressFieldICAMLabel {
    vertical-align: middle;
    max-width: 200px;
  }

  .enterAddressFieldICAMLong {
    width: 386px;
  }

  .enterAddressFieldICAMShort {
    width: 200px;
  }

  .enterAddressFormTable td {
    padding: 2px;
  }

  #enterAddressFormDiv input {
    text-align: left;
  }

  #enterAddressFormDiv select {
    text-align: left;
    overflow: auto;
  }

  div#enterAddressFormDiv {
    text-align: left;
  }

  .enterAddressFieldError {
    display: block;
    text-align: left;
    font-size: .8em;
    color: red;
    clear: both;
  }

  .enterAddressFieldWarning {
    display: block;
    text-align: left;
    font-size: .8em;
    color: #e77600;
    clear: both;
  }

  #enterAddressFormDiv .enterAddressFieldSeparatorDiv {
    clear: both;
  }

  .enterAddressFormInputError {
    border: 1px solid #990000;
  }

  #chooseAddressDiv .chooseAddressEditThisAddressButton {
    margin : 0em .5em;
  }

  #chooseAddressDiv .chooseAddressDeleteThisAddressButton {
    margin : 0em .5em;
  }

  #chooseAddressDiv .chooseAddressChooseThisAddressRadioButton {
    vertical-align: -4em;
  }

  #chooseAddressDiv .chooseAddressChooseThisAddressRadioButtonDiv {
    float : left;
    height: 100%;
  }

  #chooseAddressDiv td {
    width: 33%;
  }

  #chooseAddressDiv .chooseAddressSeparator {
    margin-top : 1em;
  }

  #deleteAddressDiv {
    color: #a00000;
    padding-left: 3em;
  }

  .enterDeliveryPrefsLabel {
    text-align: right;
    vertical-align: middle;
  }

  #deliveryPreferences {
    color: #E47911;
    text-decoration: none;
  }

  #learnMoreLink a {
    color: #004B91;
    text-decoration: none;
  }

  #learnMoreLink a:hover, #learnMoreLink a:active, #learnMoreLink a:hover span, #learnMoreLink a:active span {
    color: #E47911;
    text-decoration: underline;
  }

  #whatsThisLink a {
    color: #004B91;
    text-decoration: none;
  }

  #whatsThisLink a:hover, #whatsThisLink a:active, #whatsThisLink a:hover span, #whatsThisLink a:active span {
    color: #E47911;
    text-decoration: underline;
  }

  table.my-tabme {
    border-collapse: unset !important;
  }


  .sans, .small, .h1, .h3color, .big, .tiny, .tinyprice, .highlight, .eyebrow,
  a:active, a:visited, a:link, div.unified_widget p.seeMore,
  div.unified_widget .carat, div.left_nav .carat, div.left_nav, div.left_nav
  h2, div.left_nav h3, div.left_nav a:link, div.left_nav a:visited,
  .popover-tiny, .horizontal-search, .horizontal-websearch, .topnav,
  .topnav-active a:link, .tabon a, .tabon a:visited, .taboff a, .taboff
  a:visited div.leftnav_popover h2, .signInMsg{
    font-family: verdana,arial,helvetica,sans-serif;
  }
  .listprice {
    font-family: arial,verdana,helvetica,sans-serif;
  }
  .price {
    font-family: arial,verdana,helvetica,sans-serif;
  }
  .serif, .sans, .h1, div.unified_widget .headline{
    font-size: medium;
  }
  .big {
    font-size: xx-large;
  }
  .small, .h3color, .highlight, .horizontal-search {
    font-size: small;
  }
  .signInMsg {
    font-size: x-small;
  }
  .tiny, .tinyprice, .popover-tiny, .horizontal-websearch {
    font-size: x-small;
  }
  body, td, th {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: small;
  }
  .eyebrowBackGroundColor {
    background-color: ;
  }
  div.left_nav, div.left_nav a:link, div.left_nav a:visited {
    font-family: Arial, sans-serif;
  }

  body {
    color: #000000;
    margin-top: 0px;
  }